spring:
  datasource:
    url: jdbc:mysql://localhost:3307/snapshoes
    username: root
    password: 12345678
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
flyway:
  enabled: true
  url: jdbc:mysql://localhost:3307/snapshoes
  user: root
  password: 12345678
  locations: classpath:db/migration
